# Ignore environment files
.env

# Ignore unnecessary build artifacts
bin/
obj/
**/bin/
**/obj/

# Exclude enron folder if it's not necessary
# Indexer/enron/

# Do not ignore docker-compose.yml for Docker build
